<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<!-- Hibernate slides on class website by Elizabeth Boese were an excellent resource for getting this right. -->
<hibernate-configuration>
	<session-factory>

		<!-- JDBC Connector. See DatabaseUtil for more connection details. -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		
		<!-- Don't Print SQL Output -->
		<property name="show_sql">false</property>
		
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Session Context -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		
		<!-- Auto Generate Schema -->
		<property name="hibernate.hbm2ddl.auto">create-drop</property>

		<!-- Model Class Mappings -->
		<mapping class="dictionary.model.DictionaryEntry" />
		<mapping class="dictionary.model.WordForm" />
		<mapping class="dictionary.model.WordSense" />
	</session-factory>
</hibernate-configuration>